:root {
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --monserat-font: "Montserrat", sans-serif;
  --fraunce-font: "Fraunces", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.card {
  width: 80%;
  background-color: var(--white);
  border-radius: 10px;
}

.card-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 20px;
}

.preview {
  text-transform: uppercase;
  font-family: var(--monserat-font);
  color: var(--dark-grayish-blue);
  font-size: 12px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.card-title {
  font-family: var(--fraunce-font);
  color: var(--very-dark-blue);
}

.card-info {
  font-family: var(--monserat-font);
  color: var(--dark-grayish-blue);
  margin: 10px 0;
  line-height: 20px;
}
.prices {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.dicount {
  color: var(--dark-cyan);
  font-family: var(--fraunce-font);
  font-size: 2rem;
  margin-right: 15px;
}

.regular-price {
  color: var(--dark-grayish-blue);
  font-family: var(--monserat-font);
  text-decoration: line-through;
}
.btn {
  background-color: var(--dark-cyan);
  color: var(--white);
  font-family: var(--monserat-font);
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  border: 0;
}

.btn img {
  margin-right: 10px;
}
.btn:hover {
  cursor: pointer;
  background-color: hsl(158, 37%, 24%);
  transition: 0.5s ease-out;
}

/*tablets size*/
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .card {
    display: flex;
    width: 80%;
    border-radius: 10px;
  }
  .card-image {
    content: url(../images/image-product-desktop.jpg);
    border-radius: 10px 0 0 10px;
    width: 50%;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3em;
  }
  .card-title {
    font-size: 36px;
  }
  .dicount {
    font-size: 36px;
  }
}
/*Desktop size*/
@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .card {
    display: flex;
    width: 40%;
    border-radius: 10px;
  }
  .card-image {
    content: url(../images/image-product-desktop.jpg);
    border-radius: 10px 0 0 10px;
    width: 50%;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .card-title {
    font-size: 40px;
  }
  .dicount {
    font-size: 40px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
