:root {
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: White: hsl(0, 0%, 100%);
  --dark-cyan:hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --monserat-font: 'Montserrat', sans-serif;
  --fraunce-font: 'Fraunces', serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
